@import url(../../style/reset.css);
@import url(../../style/theme.css);
@import url(../../style/base.css);

/* input 컴포넌트 */



.search-group{
  display: flex;
  flex-flow: row nowrap;
}

.form-input{
  margin-right: 8px;
}

.button{
  border: 0;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}

/* input {width:100%} -> 부모 컨테이너의 width값을 받아들임. 아니면 줄였을때 input만 오버플로우됨. . */