@import url(../style/theme.css);

:root{
  --base-font-famaily: "SUIT Variable", sans-serif; 
} 
body *, body *::before, body *::after{
  box-sizing: border-box;
}

body{
  font-family: var(--base-font-family);
  line-height: 1.15;
}
/* 
*:focus{
  outline: 0;
} */
/* 아웃라인은 상자 크기에 영향을 주지 않음. border와는 달리 */

/* *:focus-visible{
  outline: 2px solid green;
} */