<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>탭 컴포넌트</title>
  <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/components/css/tabs2.css" />
</head>
<h1 class="sr-only">탭 컴포넌트</h1>

<div class="tabs">
  <div class="tab-list" role="tablist">
    <div class="tab is-selected" id="tab1" aria-controls="tabpanel1" aria-selected="true">공지사항
    </div>
    <div class="tab" id="tab2" aria-controls="tabpanel2" aria-selected="false">자료실</div>
  </div>

  <div class="tab-panel is-selected" aria-labelledby="tab1" id="tabpanel1" role="tabpanel">
    <div class="tab-panel-item">
      <a><span class="fas fa-circle-dot"></span>HTML의 모든 것을 알려주마 샘플 활용법</a>
      <span>2024.4.22</span>
    </div>
    <div class="tab-panel-item">
      <a><span class="fas fa-circle-dot"></span>HTML의 모든 것을 알려주마 샘플 활용법</a>
      <span>2024.4.22</span>
    </div>
    <div class="tab-panel-item">
      <a><span class="fas fa-circle-dot"></span>HTML의 모든 것을 알려주마 샘플 활용법</a>
      <span>2024.4.22</span>
    </div>
    <div class="tab-panel-item">
      <a><span class="fas fa-circle-dot"></span>HTML의 모든 것을 알려주마 샘플 활용법</a>
      <span>2024.4.22</span>
    </div>
    <div class="tab-panel-item">
      <a><span class="fas fa-circle-dot"></span>HTML의 모든 것을 알려주마 샘플 활용법</a>
      <span>2024.4.22</span>
    </div>
    <span class="fas fa-plus tab-more">더보기</span>
  </div>

  <div class="tab-panel" aria-labelledby="tab2" id="tabpanel2" role="tabpanel">
    <div class="tab-panel-item">
      <a><span class="fas fa-circle-dot"></span>웹페이지의 CSS에 대해 알아보자</a>
      <span>2024.4.22</span>
    </div>
    <div class="tab-panel-item">
      <a><span class="fas fa-circle-dot"></span>웹페이지의 CSS에 대해 알아보자</a>
      <span>2024.4.22</span>
    </div>
    <div class="tab-panel-item">
      <a><span class="fas fa-circle-dot"></span>웹페이지의 CSS에 대해 알아보자</a>
      <span>2024.4.22</span>
    </div>
    <div class="tab-panel-item">
      <a><span class="fas fa-circle-dot"></span>웹페이지의 CSS에 대해 알아보자</a>
      <span>2024.4.22</span>
    </div>
    <div class="tab-panel-item">
      <a><span class="fas fa-circle-dot"></span>웹페이지의 CSS에 대해 알아보자</a>
      <span>2024.4.22</span>
    </div>
    <span class="fas fa-plus tab-more">더보기</span>
  </div>
</div>




<body>

</body>

</html>